/* Resume.css */

.r1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: 1px solid ;
  margin-top: 20px;
  margin-left: 300px;
  width: 500px;
  height: 620px;
  border-radius: 20px;
  box-shadow: 0 0 30px rgb(7, 7, 7);
}

.r2 {
  color: #333;
}

.r3,
.r4,
.r5 {
  margin: 10px 0;
}

.r3s {
  padding: 10px;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.r6 {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Animation for form fields */
.r3,
.r4,
.r5 {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.8s ease-in-out forwards;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
